.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #f4f4f4;
  font-family: "Space Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
  z-index: 12;
}

.logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.navlinks_div {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navlinks_div_mobile {
  height: 200px;
}

.nav_links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  list-style: decimal-leading-zero;
}

.li_text {
  padding: 5px;
  cursor: pointer;
}

.li_text:hover {
  color: #1ee0e0;
  transition: ease-in-out 200ms;
  border-bottom: 1px solid #1ee0e0;
}

@media (max-width: 1024px) and (min-width: 770px) {
  .logo {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) and (min-width: 460px) {
  .logo {
    margin-left: 2rem;
  }

  .navButton {
    color: #1ee0e0;
    margin-right: 2rem;
    z-index: 10;
  }

  .asideDiv {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background: #11111133;
    backdrop-filter: blur(8px);
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 100vw;
    height: 100vh;
    outline: 0px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
    transform: translateX(0vw);
    visibility: visible;
    z-index: 9;
    opacity: 2;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .navList {
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero;
    width: 100%;
  }

  .navList > li {
    position: relative;
    margin: 0px auto 20px;
  }

  .navList > li > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    width: 100%;
    font-size: 2.2rem;
    padding: 3px 20px 20px;
  }

  .navList > li::marker {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  .logo {
    margin-left: 2rem;
  }

  .navButton {
    color: #1ee0e0;
    margin-right: 2rem;
    z-index: 10;
  }

  .asideDiv {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background: #11111133;
    backdrop-filter: blur(8px);
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 100vw;
    height: 100vh;
    outline: 0px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
    transform: translateX(0vw);
    visibility: visible;
    z-index: 9;
    opacity: 2;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .navList {
    padding: 0px;
    padding-left: 40px;
    margin: 0px;
    list-style: decimal-leading-zero;
    width: 100%;
  }

  .navList > li {
    position: relative;
    margin: 0px auto 20px;
  }

  .navList > li > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    width: 100%;
    font-size: 1.4rem;
    padding: 3px 20px 20px;
  }

  .navList > li::marker {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) and (min-width: 300px) {
  .logo {
    margin-left: 2rem;
  }

  .navButton {
    color: #1ee0e0;
    margin-right: 2rem;
    z-index: 10;
  }

  .asideDiv {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background: #11111133;
    backdrop-filter: blur(8px);
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 100vw;
    height: 100vh;
    outline: 0px;
    box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
    transform: translateX(0vw);
    visibility: visible;
    z-index: 9;
    opacity: 2;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .navList {
    padding-left: 45px;
    padding-right: 0;
    margin: 0px;
    list-style: decimal-leading-zero;
    width: 100%;
  }

  .navList > li {
    position: relative;
    margin: 0px auto 20px;
  }

  .navList > li > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    padding: 3px 20px 20px;
  }

  .navList > li::marker {
    font-size: 0.8rem;
  }
}
